<h2>Add list</h2>

<form onsubmit={{action 'save'}}>
  {{input type="text" placeholder="List Name" class="form-control" value=list}}
  {{input type="text" placeholder="Card title" class="form-control" value=title}}

  <button type='submit' class="fullwidth btn btn-save">
    Save
  </button>
</form>
